body{
    background-color:rgb(58, 58, 58);
}

:root{
    color: whitesmoke;
}

h1{
    text-align: center;
    color:tomato
}

h2{
    color:tomato
}

h3{
    color: tomato;
}

.gif{
    text-align: center;
}
.foto{
    text-align: center;
}
.back{
    background-color: aliceblue;
    text-align: center;
}
a{
    text-decoration: none;
    font: outline;
    color: black;
}
